definitions:
  services:
    docker:
      memory: 2048
pipelines:
  default:
  - parallel:
    - step:
        services:
        - docker
        runs-on:
        - 'self.hosted'
        - 'linux'
        - 'tde'
        name: 'TDE'
        script:
        - echo "$(date -u +%s) git@bitbucket.org:${BITBUCKET_REPO_FULL_NAME}.git" > ${BITBUCKET_CLONE_DIR}/update_line
        - pipe: atlassian/scp-deploy:1.3.0
          variables:
            USER: 'bb'
            SERVER: 'tde-aws.stxaws.net'
            REMOTE_PATH: '/mnt/tde-in/bit-bucket/'
            LOCAL_PATH: '${BITBUCKET_CLONE_DIR}/update_line'
            SSH_KEY: $SSH_KEY_TDE
            EXTRA_ARGS: [ '-o StrictHostKeyChecking=no' ]
        - pipe: atlassian/ssh-run:0.4.2
          variables:
            SSH_USER: 'bb'
            SERVER: 'tde-aws.stxaws.net'
            SSH_KEY: $SSH_KEY_TDE
            MODE: 'command'
            EXTRA_ARGS: '-o StrictHostKeyChecking=no'
            COMMAND: >
              cat /mnt/tde-in/bit-bucket/update_line >> /mnt/tde-in/bit-bucket_git_updates.txt && rm -f /mnt/tde-in/bit-bucket/update_line
        - echo "${BITBUCKET_REPO_SLUG}" > ${BITBUCKET_CLONE_DIR}/last_run
        - date >> ${BITBUCKET_CLONE_DIR}/last_run
        - pipe: atlassian/scp-deploy:1.3.0
          variables:
            USER: 'bb'
            SERVER: 'tde-aws.stxaws.net'
            REMOTE_PATH: '/mnt/tde-in/bit-bucket/'
            LOCAL_PATH: '${BITBUCKET_CLONE_DIR}/last_run'
            SSH_KEY: $SSH_KEY_TDE
            EXTRA_ARGS: [ '-o StrictHostKeyChecking=no' ]
